.grid {
  display: grid;
  gap: var(--spacing-lg) 10%;
  margin-top: var(--spacing-lg);
}

.paragraph {
  max-width: 64ch;
}

@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
