.imageWrap {
  margin-bottom: 1.5rem;
  perspective: 600px;
}

.footer {
  margin-top: 1rem;
}

@media (hover: hover) {
  .article:hover .footer a svg {
    transform: translateX(8px);
  }

  .imageLink {
    transition: transform 300ms ease;
  }

  .footer a svg {
    transition: transform 400ms ease-in-out;
  }
}
