.image {
  margin-bottom: 1.5rem;
}

.footer {
  margin-top: 1rem;
}

@media (hover: hover) {
  .article:hover .footer a svg {
    transform: translateX(8px);
  }

  .footer a svg {
    transition: transform 400ms ease-in-out;
  }
}
