.section {
  margin-top: 7rem;
}

.grid {
  display: grid;
  gap: 3rem;
}

.mediaCell {
  position: relative;
}

.mediaCellOne {
  display: none;
}

.mediaCellTwo {
  min-height: 24rem;
}

.image {
  object-fit: cover;
}

.hiking {
  object-position: 30% 50%;
}

@media (min-width: 36rem) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, 1fr);
  }

  .mediaCellTwo {
    grid-area: 1 / 1 / 4 / 2;
  }
}

@media (min-width: 62rem) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  .mediaCellOne {
    display: block;
    grid-area: 1 / 1 / 2 / 3;
  }

  .mediaCellTwo {
    display: block;
    grid-area: 1 / 3 / 2 / 4;
  }
}
