.grid {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  gap: 3rem 10%;
  align-items: center;
}

@media (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
