.article {
  display: grid;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);
}

@media (min-width: 48rem) {
  .article {
    gap: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
  }
}
