.article {
  margin-bottom: var(--spacing-xl);
}

.article h1:not(:first-child),
.article h2:not(:first-child),
.article h3:not(:first-child) {
  margin-top: 6em;
}

.article p:not(:first-child) {
  margin-top: 2em;
}

@media (min-width: 48rem) {
  .article {
    margin-bottom: var(--spacing-3xl);
  }
}
