.section {
  margin-bottom: var(--spacing-lg);
}

.stripe {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-3xl);
  background-color: hsl(var(--clr-prism-light));
  transition: background-color var(--duration-prism) var(--ease-prism);
}

.header em {
  color: hsl(var(--clr-prism-dark));
  font-style: inherit;
  transition: color var(--duration-prism) var(--ease-prism);
}

.negativeTopMargin {
  margin-top: calc(-1 * var(--spacing-3xl));
}

.socials {
  margin-bottom: 4rem;
}

.intro {
  max-width: 80ch;
  margin-top: 2rem;
}

.children {
  margin-top: 4rem;
}

@media (min-width: 48rem) {
  .header span {
    display: block;
  }
}
