.prism path {
  fill: hsl(var(--clr-prism-dark));
  transition-property: fill;
  transition-duration: var(--duration-prism);
  transition-timing-function: var(--ease-prism);
}

.svg {
  display: inline-block;
}
