.grid {
  display: grid;
  gap: 8rem 10%;
  margin-top: 4rem;
}

.paragraph {
  max-width: 64ch;
}

@media screen and (min-width: 48rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
}
