:root {
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;
  --clr-body: 0 0% 47%;
  --clr-dark: 0 0% 6%;
  --clr-green: 126 50% 55%;
  --clr-danger: 10 70% 50%;
  --clr-prism-dark: var(--hue, 126) var(--saturation, 50%) 40%;
  --clr-prism-light: var(--hue, 126) var(--saturation, 50%) 90%;
  --clr-prism-light-2: var(--hue-offset-2, 126) var(--saturation, 50%) 90%;
  --clr-prism-light-3: var(--hue-offset-3, 126) var(--saturation, 50%) 90%;

  --duration-prism: 400ms;
  --ease-prism: ease-out;

  --fs-hdr-louder: 1.75rem;
  --fs-hdr-loud: 1.25rem;

  --spacing-sm: 1rem;
  --spacing-md: 3rem;
  --spacing-lg: 7rem;
  --spacing-xl: 10rem;
  --spacing-2xl: 12rem;
  --spacing-3xl: 15rem;
}

@media screen and (min-width: 36rem) {
  :root {
    --fs-hdr-louder: 2.5rem;
    --fs-hdr-loud: 1.5rem;
  }
}

@media screen and (min-width: 62rem) {
  :root {
    --fs-hdr-louder: 4rem;
    --fs-hdr-loud: 2rem;
  }
}
