---
import Layout from "@layouts/layout.astro";
---

<Layout seoProps={{
  title: 'Home' + ' | Grayson Gantek',
  description: 'You will find a little bit about me, some of my favorite projects, and a way to get in touch. You can also find me on LinkedIn and GitHub.',
}}>
  <h1>Welcome to Astro</h1>
  <p>Hello world!</p>
</Layout>
