.imgFull {
  width: 100%;
}

.imgCover {
  object-fit: cover;
}

.imgRound {
  border-radius: 4px;
  overflow: hidden;
}

.imgShadow {
  box-shadow: 0 4px 4px hsla(var(--clr-body) / 20%),
    0 8px 8px hsla(var(--clr-body) / 15%),
    0 16px 16px hsla(var(--clr-body) / 10%);
}

.imgMockup {
  display: block;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0 4px 4px hsla(var(--clr-body) / 20%),
    0 8px 8px hsla(var(--clr-body) / 15%),
    0 16px 16px hsla(var(--clr-body) / 10%);
}
