$spacings: (
  'Sm': var(--spacing-sm),
  'Md': var(--spacing-md),
  'Lg': var(--spacing-lg),
  'Xl': var(--spacing-xl),
  '2Xl': var(--spacing-2xl),
  '3Xl': var(--spacing-3xl),
);

@each $key, $value in $spacings {
  .mt#{$key} {
    margin-top: #{$value};
  }

  .mb#{$key} {
    margin-bottom: #{$value};
  }

  .my#{$key} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

  .pt#{$key} {
    padding-top: #{$value};
  }

  .pb#{$key} {
    padding-bottom: #{$value};
  }

  .py#{$key} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }
}

.containerLg {
  max-width: min(77.5rem, 85vw);
  margin-left: auto;
  margin-right: auto;
}

.articleGrid {
  display: grid;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);
}

@media screen and (min-width: 48rem) {
  .articleGrid {
    gap: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
  }
}
