.linkReset {
  text-decoration: none;
  color: inherit;
}

.textDark {
  color: hsl(var(--clr-dark));
}

.headerLouder {
  font-size: var(--fs-hdr-louder);
  line-height: 1.2;
}

.headerLoud {
  font-size: var(--fs-hdr-loud);
  line-height: 1.2;
}
