.section {
  margin-top: var(--spacing-2xl);
  margin-bottom: var(--spacing-xl);
}

.grid {
  display: grid;
  gap: 3rem 10%;
}

.image {
  min-height: 32rem;
}

@media (min-width: 48rem) {
  .section {
    margin-top: var(--spacing-3xl);
    margin-bottom: var(--spacing-3xl);
  }

  .grid {
    grid-template-columns: 1fr 2fr;
  }

  .form {
    grid-area: 1 / 1 / 2 / 2;
  }

  .image {
    grid-area: 1 / 2 / 2 / 3;
  }
}
