.form {
  display: grid;
  gap: 1.5rem;
  margin-top: 4rem;
  transition: opacity 300ms ease-in-out;
}

.error {
  color: hsl(var(--clr--danger));
  font-size: var(--fs-sm);
}

.star {
  color: hsl(var(--clr--prism--dark));
  transition: color var(--duration--prism) var(--ease--prism);
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  font: inherit;
  color: inherit;
  background-color: hsl(var(--clr--prism--light));
  border: none;
  cursor: pointer;
  transition: background-color var(--duration--prism) var(--ease--prism);
}

.success {
  margin-top: 1.5rem;
  padding: 0.75rem 1.25rem;
  color: hsl(var(--clr--success));
  font-weight: bold;
  border-radius: 4px;
  background-color: hsl(var(--clr--success--light));
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
}
