.form {
  display: grid;
  gap: 1.5rem;
  margin-top: 4rem;
  transition: opacity 300ms ease-in-out;
}

.error {
  color: hsl(var(--clr-danger));
  font-size: var(--fs-sm);
}

.star {
  color: hsl(var(--clr-prism-dark));
  transition: color var(--duration-prism) var(--ease-prism);
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  font: inherit;
  color: inherit;
  background-color: hsl(var(--clr-prism-light));
  border: none;
  cursor: pointer;
  transition: background-color var(--duration-prism) var(--ease-prism);
}
