.body {
  margin-top: 2rem;
  max-width: 64ch;
}

.body > * + * {
  margin-top: 1rem;
}

@media screen and (min-width: 48rem) {
  .center {
    text-align: center;
  }

  .center .body {
    margin-left: auto;
    margin-right: auto;
  }
}
